# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Pythonenv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 数据集、大文件（不会上传到 GitHub）
dataset/
data/
weights/
*.jpg
*.png
*.jpeg
*.zip
*.rar
*.tar.gz

# 编辑器配置
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db